<div class="py-2">
    <mat-card class="py-1">
        <mat-card-header class="d-flex justify-content-between ">
            <mat-card-title class="text-uppercase">Question List: {{ quiz && quiz.title }}</mat-card-title>
            <a mat-raised-button [routerLink]="'/admin/quizzes/' + quizId + '/questions/create'" color="primary">
                Create new Question
            </a>
        </mat-card-header>
    </mat-card>

    <mat-card class="mt-2" *ngFor="let question of questions; index as i">
        <mat-card-header>
            <mat-card-title>
                <b>Câu {{ i + 1 }}: </b>
                <span>{{ question.content }}</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2 w-full">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <b>A. </b>
                    <span>{{ question.optionA }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <b>B. </b>
                    <span>{{ question.optionB }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <b>C. </b>
                    <span>{{ question.optionC }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <b>D. </b>
                    <span>{{ question.optionD }}</span>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <b>Đáp án: </b>
                    <span>{{ question.answer }}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
