.register-wrapper {
    margin-top: 50px;

    mat-card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        mat-card-header {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-size: 25px;
        }

        mat-form-field {
            width: 100%;
            margin-top: 10px;
        }
    }
}
