<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin/dashboard" routerLinkActive="active-link">
            <div class="sidebar-item">
                <mat-icon mat-list-icon>home</mat-icon> Home
            </div>
        </button>
        <button mat-list-item routerLink="/admin/profile" routerLinkActive="active-link">
            <div class="sidebar-item">
                <mat-icon mat-list-icon>account_circle</mat-icon> Profile
            </div>
        </button>
        <button mat-list-item routerLink="/admin/categories" routerLinkActive="active-link">
            <div class="sidebar-item">
                <mat-icon mat-list-icon>list</mat-icon> Categories
            </div>
        </button>
        <button mat-list-item routerLink="/admin/quizzes" routerLinkActive="active-link">
            <div class="sidebar-item">
                <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
            </div>
        </button>

        <button mat-list-item (click)="logout()">
            <div class="sidebar-item">
                <mat-icon mat-list-icon>logout</mat-icon> Logout
            </div>
        </button>
    </mat-action-list>
</mat-card>
