/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
}

.background-color-red {
    background-color: red;
}

.text-uppercase {
    text-transform: uppercase;
}

.w-full {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.bg-red {
    background-color: red;
}

@for $i from 0 through 5 {
    .gap-#{$i} {
        gap: 0.5rem * $i;
    }
    .mt-#{$i} {
        margin-top: 0.5rem * $i;
    }
    .mb-#{$i} {
        margin-bottom: 0.5rem * $i;
    }
    .mr-#{$i} {
        margin-right: 0.5rem * $i;
    }
    .ml-#{$i} {
        margin-left: 0.5rem * $i;
    }
    .pt-#{$i} {
        padding: 0.5rem * $i;
    }
    .pb-#{$i} {
        padding-bottom: 0.5rem * $i;
    }
    .pr-#{$i} {
        padding-right: 0.5rem * $i;
    }
    .pl-#{$i} {
        padding-left: 0.5rem * $i;
    }
    .py-#{$i} {
        padding-top: 0.5rem * $i;
        padding-bottom: 0.5rem * $i;
    }
    .px-#{$i} {
        padding-right: 0.5rem * $i;
        padding-left: 0.5rem * $i;
    }
}
