<mat-toolbar color="primary">
    <div class="bootstrap-wrapper w-full">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <a mat-button routerLink="/home" class="text-uppercase">Examination</a>
                    <div class="navbar-buttons" *ngIf="!isLoggedIn()">
                        <a mat-raised-button routerLink="/login">Login</a>
                        <a mat-raised-button routerLink="/register">Register</a>
                    </div>

                    <div class="navbar-buttons" *ngIf="isLoggedIn()">
                        <button mat-raised-button *ngIf="isAdmin()">Admin Dashboard</button>
                        <button mat-raised-button (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
